<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}.</span> {{hero.name}}
  </li>
</ul>

<!-- The parent HeroesComponent will control the child HeroDetailComponent by -->
<!-- sending it a new hero to display whenever the user selects a hero from the list. -->
<!-- Bind the HeroesComponent.selectedHero to the element's hero property. -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>