ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    line-height: 25px;
    border: 0.75px solid black;
    border-radius: 5px;
    width: 175px;
    margin: 5px;
    padding: 2px;
}

li:hover {
    background-color: #336699;
    color: white;
    cursor: pointer;
}

.selected {
    background-color: #336699;
    color: white;
}